# Ignore all
ORB_SLAM3/*

# Unignore all with extensions
!ORB_SLAM3/*.*

# Unignore all dirs
!ORB_SLAM3/*/

ORB_SLAM3/kf_*.txt
ORB_SLAM3/f_*.txt
ORB_SLAM3/Thirdparty/g2o/config.h
ORB_SLAM3/Vocabulary/ORBvoc.txt

ORB_SLAM3/lib/

ORB_SLAM3/ExecMean.txt
ORB_SLAM3/SessionInfo.txt
ORB_SLAM3/Results_Euroc.txt
ORB_SLAM3/LBA_Stats.txt
ORB_SLAM3/LocalMapTimeStats.txt
ORB_SLAM3/TrackLocalMapStats.txt
ORB_SLAM3/TrackingTimeStats.txt
ORB_SLAM3/Table_Euroc
ORB_SLAM3/Table_TUMVI_rooms/
ORB_SLAM3/*.pyc
ORB_SLAM3/*.osa
ORB_SLAM3/my_settings.txt

ORB_SLAM3/borrar/*

ORB_SLAM3/*/ExecMean.txt

ORB_SLAM3/CMakeLists.txt.user
ORB_SLAM3/CMakeLists_modified.txt

ORB_SLAM3/Examples/ROS/ORB_SLAM3/CMakeLists.txt.user


**/KeyFrameTrajectory.txt
**/CameraTrajectory.txt

**/.idea/
**/build/
**/cmake_modules/
**/cmake-build-*/
**/CMakeLists.txt.user
**/CMakeCache.txt
**/CMakeFiles
**/CMakeScripts
**/Testing
**/Makefile
**/cmake_install.cmake
**/install_manifest.txt
**/compile_commands.json
**/CTestTestfile.cmake
**/_deps
**/*-prefix/

ros_ws/
